.header-container {
  width: 100vw;
  height: 10vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 231, 231);
  font-size: xx-large;
  font-weight: 700;
}
